{% extends "layouts/base.html" %}

{% block title %} 首页 {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        
                        <!--[social-media section] start-->
                        <div class="col-md-12 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <i class="feather icon-crosshair text-c-green f-36"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h3>域名:{{form.subdomain_total_count}}</h3>
                                            <h5 class="text-c-green mb-0">+{{form.subdomain_rate}}% <span class="text-muted">近期扫描新增</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center card-active">
                                        <div class="col-6">
                                            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">原有:</span>{{form.subdomain_total_count - form.subdomain_new_count}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width:50%;height:6px;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">新增:</span>{{form.subdomain_new_count}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme2" role="progressbar" style="width:50%;height:6px;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <i class="feather icon-airplay text-c-blue f-36"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h3>站点:{{form.http_total_count}}</h3>
                                            <h5 class="text-c-purple mb-0">+{{form.http_rate}}% <span class="text-muted">近期扫描新增</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center card-active">
                                        <div class="col-6">
                                            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">原有:</span>{{form.http_total_count - form.http_new_count}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-green" role="progressbar" style="width:50%;height:6px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">新增:</span>{{form.http_new_count}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-blue" role="progressbar" style="width:50%;height:6px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <i class="feather icon-bell text-c-red f-36"></i>
                                        </div>
                                        <div class="col text-right">
                                            <h3>漏洞:{{form.vuln_total_count}}</h3>
                                            <h5 class="text-c-blue mb-0">+{{form.vuln_rate}}% <span class="text-muted">近期扫描新增</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center card-active">
                                        <div class="col-6">
                                            <h6 class="text-center m-b-10"><span class="text-muted m-r-5">原有:</span>{{form.vuln_total_count - form.vuln_new_count}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width:50%;height:6px;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">新增:</span>{{form.vuln_new_count}}</h6>
                                            <div class="progress">
                                                <div class="progress-bar progress-c-theme2" role="progressbar" style="width:50%;height:6px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[social-media section] end-->

                        <!--[ Recent Users ] start-->
                        <div class="col-xl-4 col-md-5">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>celery监控状态</h5>
                                </div>
                                <div class="card-block px-0 py-0">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                {% for row in form.celery_result %}
                                                <tr class="unread">
                                                    <td style="vertical-align: middle !important;text-align: center;">
                                                        <h6 class="mb-1">{{ row }}插件</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>空闲:{{form.celery_result[row][0]}}</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>繁忙:{{form.celery_result[row][1]}}</h6>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->

                        <div class="col-xl-8 col-md-5">
                            <div class="card">
                                <form action="" method="POST">
                                    <div class="card-header">
                                        <div style="display:inline-block" ><h5>记事本</h5></div>
                                        <div style="display:inline-block; float:right">
                                            {{indexnote.submit(class_="btn-sm btn-outline-primary")}}
                                        </div>
                                    </div>
                                    <div class="card-block px-4 py-4">
                                        <div class="form-group">
                                            {{indexnote.index_note(style="resize:none;", class="form-control", rows="19")}}
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5>日志</h5>
                                </div>
                                <div class="card-block px-4 py-1">
                                    <div class="form-group">
                                        <textarea style="resize:none; font-size:12px;" class="form-control" id="loginfo" rows="5" disabled>{% for row in form.runlog %}{{ row.log_time }}-------------------------------------------------------------------------------------------------------------------- {{ row.log_info }}&#13;{% endfor %}</textarea>
                                    </div>
                                </div>
                                
                            </div>
                        </div>


                       

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}