{% extends "layouts/base.html" %}

{% block title %} 资产添加 {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">资产管理</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">资产管理</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">资产添加</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>扫描资产添加</h5>
                            </div>
                            <div class="card-body">
                                <h5>添加</h5>
                                <hr>
                                <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">项目名</label>
                                                <input type="text" class="form-control" id="target_name">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">描述</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">扫描周期</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">扫描模式</label>
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                           

                                        
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="target_domain">主域名资产</label>
                                                <textarea class="form-control" id="target_domain" rows="4"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="target_subdomain">精准资产</label>
                                                <textarea class="form-control" id="target_subdomain" rows="3"></textarea>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="blacklist">黑名单</label>
                                                <textarea class="form-control" id="blacklist" rows="3"></textarea>
                                            </div>
                                            
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function initPage() {

        switch_value = $('#target_corn')[0].checked
        $('#target_corn').bootstrapSwitch("size","small",{
            state: switch_value,
            onText: '监控',
            offText: '未监控',
        });

        $(".select2").select2();
    }
</script>
{% endblock javascripts %}
