{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">修改密码</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            请输入修改后的密码，建议使用强密码
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <!-- Hide the form on success -->
                    {% if not success %}
                        <form role="form" method="post" action="">                   

                            <div class="input-group mb-4">
                                {{ form.password(placeholder="旧密码", class="form-control") }}
                            </div>

                            <div class="input-group mb-4">
                                {{ form.newpassword1(placeholder="新密码", class="form-control", type="password") }}
                            </div>

                            <div class="input-group mb-4">
                                {{ form.newpassword2(placeholder="重复新密码", class="form-control", type="password") }}
                            </div>
        
                            <button type="submit" name="changepassword" class="btn btn-primary shadow-2 mb-4">修改密码</button>

                        </form>
                        <p class="mb-2 text-muted">
                            &copy; <a href="/">H资产收集器</a> 
                            - <a href="/">返回首页</a>.
                        </p>
                        <br />
                    {% endif %}

                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
