
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title align-items-center">H</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">首页</span></a>
                    </li>
                    
                    <li class="nav-item pcoded-menu-caption">
                        <label>资产管理</label>
                    </li>

                    <li data-username="target" 
                     class="nav-item {% if 'target' == segment %} active {% endif %}">
                    <a href="/target" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">资产列表</span></a></li>

                    <li data-username="targetadd" 
                     class="nav-item {% if 'targetadd' == segment %} active {% endif %}">
                    <a href="/targetadd" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">添加资产</span></a></li>


                    <li class="nav-item pcoded-menu-caption">
                        <label>扫描结果</label>
                    </li>
                    <li data-username="subdomain" 
                    class="nav-item {% if 'subdomain' in segment %} active {% endif %}">
                    <a href="/subdomain" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">子域名信息</span></a></li>
                
                
                    <li data-username="port" 
                     class="nav-item {% if 'port' in segment %} active {% endif %}">
                    <a href="/port" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">端口信息</span></a></li>

                    <li data-username="url" 
                    class="nav-item {% if 'http' in segment %} active {% endif %}">
                    <a href="/http" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">站点信息</span></a></li>
                
                
                    <li data-username="dirb" 
                     class="nav-item {% if 'dirb' in segment %} active {% endif %}">
                    <a href="/dirb" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">路径信息</span></a></li>

                    <li data-username="vuln" 
                    class="nav-item {% if 'vuln' in segment %} active {% endif %}">
                    <a href="/vuln" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">漏洞信息</span></a></li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>扫描设置</label>
                    </li>
                    <li data-username="scanmethod" 
                        class="nav-item {% if 'scanmethod' in segment %} active {% endif %}">
                        <a href="/scanmethod" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">扫描模式配置</span></a></li>
                    
                    
                        <li data-username="scancron" 
                         class="nav-item {% if 'scancron' in segment %} active {% endif %}">
                        <a href="/scancron" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">扫描周期配置</span></a></li>
                    
                        <li class="nav-item pcoded-menu-caption">
                            <label>快捷插件</label>
                        </li>
                            <li data-username="beian" 
                             class="nav-item {% if 'beian' in segment %} active {% endif %}">
                            <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">备案信息查询</span></a></li>

                            <li data-username="hostcrack" 
                             class="nav-item {% if 'hostcrack' in segment %} active {% endif %}">
                            <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">host碰撞</span></a></li>

                            <li data-username="apkinfo" 
                            class="nav-item {% if 'apkinfo' in segment %} active {% endif %}">
                            <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">apk域名提取</span></a></li>
    
                            <li data-username="fofa" 
                            class="nav-item {% if 'fofa' in segment %} active {% endif %}">
                            <a href="/charts-morris.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">fofa查询</span></a></li>

                        <li class="nav-item pcoded-menu-caption">
                        <label>系统设置</label>
                    </li>
                    
                    <li data-username="userlist" 
                     class="nav-item {% if 'userlist' in segment %} active {% endif %}">
                    <a href="/userlist.html" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">用户列表</span></a></li>

                    <li data-username="changepassword" 
                     class="nav-item {% if 'changepassword' in segment %} active {% endif %}">
                    <a href="/changepassword" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">修改密码</span></a></li>
                    
                    <li data-username="config" 
                     class="nav-item {% if 'sysconfig' in segment %} active {% endif %}">
                    <a href="/sysconfig" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">系统设置</span></a></li>

                    <li data-username="退出登陆" class="nav-item">
                    <a href="{{ url_for('base_blueprint.logout') }}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">登出</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
